<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<h1> Hello World </h1>

<h3 id="status"></h3>

<ul id="scans"></ul>


<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">
	if(document.domain === 'localhost') {
		var socket = io.connect('http://' + document.domain + ':' + location.port);	
	}
	else {
		var socket = io.connect('https://' + document.domain + ':' + location.port);	
	}
    
    
    socket.on('connect', function() {
        socket.emit('first connect', {data: 'I\'m connected!'});
    });

    socket.on('pong', function(response) {
    	console.log(response);
    	r = JSON.parse(response);
    	var user_feedback_message = document.getElementById('status');
    	user_feedback_message.innerHTML = r.message;
    });

    socket.on('scan', function(response) {
    	console.log(response);
    	r = JSON.parse(response);
    	var scan_info = document.getElementById('scans');
    	scan_info.innerHTML = scan_info.innerHTML + '<li>' + r.message + '</li>' ;
    });

</script>

</body>
</html>